<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="imagex/png" href="imagens/logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <title>LevtyBurguer</title>
</head>

<body>

    <header class="navbar navbar-expand-lg">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuPrincipal"
                aria-controls="menuPrincipal" aria-expanded="false" aria-label="Alternar navegação">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="menuPrincipal">
                <ul class="navbar-nav nav-pills">
                    <li class="nav-item"><a href="#" class="nav-link text-white">Início</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-white">Cupons</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-white">Restaurantes</a></li>
                    <li class="nav-item"><a href="/contato" class="nav-link text-white">Contato</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-white">Sobre Nós</a></li>
                </ul>
            </div>
        </div>
    </header>

    <main>
        <section>
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="imagens/banner1.png" class="d-block w-100" alt="banner">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="imagens/banner2.png" class="d-block w-100" alt="banner">
                    </div>
                    <div class="carousel-item">
                        <img src="imagens/banner3.png" class="d-block w-100" alt="banner">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>

         <section class="produtos py-5 text-center bg-warning">
    <div class="container">
        <h2><a href="/cardapio" class="btn btn-dark px-5 py-3 fs-4 rounded-pill shadow">Ver Cardápio</a></h2>
    </div>
</section>




    <section class="sugestao-form py-5 bg-light">
    <div class="container">
        <h2 class="text-center mb-4">Envie sua Sugestão</h2>
        <form action="/sugestao" method="GET" class="p-4 bg-white rounded shadow mx-auto" style="max-width: 600px;">
            <div class="mb-3">
                <label for="nome" class="form-label">Insira seu Nome</label>
                <input type="text" class="form-control" name="nome" id="nome" required>
            </div>
            <div class="mb-3">
                <label for="ingredientes" class="form-label">Insira os Ingredientes</label>
                <input type="text" class="form-control" id="ingredientes" name="ingredientes" required>
            </div>
            <button type="submit" class="btn btn-warning fw-bold">Enviar</button>
        </form>
    </div>
</section>


    </main>

    <footer class="footer text-white py-5">
        <div class="container">
            <div class="row align-items-center text-center text-lg-start">
                <div class="col-12 col-md-4 mb-4 mb-md-0">
                    <img src="imagens/logo2.png" alt="Logo LevtyBurguer">
                </div>

                <div class="col-12 col-md-4 mb-4 mb-md-0">
                    <ul class="list-unstyled">
                        <li><a href="#" class="footer-link">Início</a></li>
                        <li><a href="#" class="footer-link">Cupons</a></li>
                        <li><a href="#" class="footer-link">Restaurantes</a></li>
                        <li><a href="contato.html" class="footer-link">Contato</a></li>
                        <li><a href="#" class="footer-link">Sobre Nós</a></li>
                    </ul>
                </div>

                <div class="col-12 col-md-4">
                    <div class="d-flex justify-content-center justify-content-md-end gap-3">
                        <a href="#"><i class="fab fa-facebook-f footer-icon"></i></a>
                        <a href="#"><i class="fab fa-instagram footer-icon"></i></a>
                        <a href="#"><i class="fab fa-twitter footer-icon"></i></a>
                        <a href="#"><i class="fab fa-youtube footer-icon"></i></a>
                    </div>
                </div>
            </div>

            <div class="text-center mt-4 small text-white-50">
                © @levty - Todos os direitos reservados. Sob licença.
            </div>
        </div>
    </footer>


</body>

</html>